<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
     <div class="box" th:fragment="menu">
	 	<h1 style="text-align: center; padding-top: 5%;">menu</h1>
		<h4 style="text-align: center; padding-top: 10px;"><a th:href="@{/thymeleaf}">1:thymeleaf.html</a></h4>
		<h4 style="text-align: center; padding-top: 10px;"><a th:href="@{/threadPool/kit}">2:threadPool.html</a></h4>
    </div>
</html>